.ArrayContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.ArrayBar {
  width: 2px;
  background-color: #4A148C;
  display: inline-block;
  margin: 0 1px;
}